---
---

@import "{{ site.theme }}";

body { 
  background-color: rgb(255, 255, 255); 
}

img:not(.noBorder) {
  border: 1px solid;
}

///////////
// Links //
///////////

a {
  color          : rgb(235, 0, 1);
  text-decoration: underline;
}

///////////////
// Headlines //
///////////////

h1, h2 {
  _color: rgb(235, 0, 1);
}

h2 {
  border-bottom: none !important;
}
