---
---

@import "{{ site.theme }}";

body { 
  background-color: rgb(255, 255, 255); 
}

img:not(.noBorder) {
  border: 1px solid;
}

///////////
// Links //
///////////

a {
  color          : rgb(235, 0, 1);
  text-decoration: underline;
}

///////////////
// Headlines //
///////////////

h2 {
  border-bottom: none !important;
}

//////////////////
// Collapsibles //
//////////////////

.collapsibleBtn {
  font-size: 2rem;
  &:hover { color: rgb(235, 0, 1);}
}
